@import '~antd/dist/antd.css';

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #F30;
    transition: all .3s;
    margin-left: 6px;
}
.dynamic-delete-button:hover {
    color: #C30;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.tag {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.tag:hover {
    background-color: #cccccc;
}

.imageBox {
    border: 1px solid #eeeeee;
}

.imageBox:hover {
    border-color: black;
}
